*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: gray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.calculator{
    background: linear-gradient(to right, gray, black);
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px white;
}
.calculator form{
    width: 100%;
}
.calculator form .display-box{
    width: 100%;
    margin-bottom: 20px;
}
.calculator form .display-box .display{
    width: 100%;
    padding: 15px;
    background-color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
.calculator form .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;

}
.calculator form .btn input{
    border: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
.calculator form .btn .ac, .del{
    background-color: brown;
    color: white;
}
.calculator form .btn .equalto{
    background-color: gray;
    color: white;
}